<% provide(:title, "Paxについて") %>
   <div class="about_hsp">
    <div class="Pax_section">
        <div class="Pax_first_sentence">
            <h1>What is Pax?</h1>
            <img src="/assets/pexels-ákos-szabó-440731.jpg" alt="glasslands" class="glasslands-img">
            <h2>Paxは繊細さんが、繊細さんの目線で<br>安らげる場所を探すためのサイトです。</h2>
            <p>
                <br>世の中は非繊細さん、つまり「鈍感さん」の方が多いため、鈍感さんを基準に形作られています。<br>
                「繊細さん目線でいろんなお店や施設を評価するサービスがあってもいいじゃないか！」<br>
                「繊細さんがもっと休日を落ち着いて安らげるような世界を作りたい！」<br>
                という思いを形にしました。<br><br>
                とはいえ、本当は開発者である私は「超」がつくほどの鈍感さんです。<br>
                かなりのマイペースで人の気持ちを察するのが苦手、細かいことは気にしない、、、<br>
                繊細さんとは真逆なのです（むしろ多少繊細になった方がいい）。<br><br>
                そんな私がなぜ繊細さんの日常のために動いているかというと、私の妻が繊細さんであることがきっかけです。<br><br>
                同じ大学の心理学部で出会った私たちは、（比較的）真面目に心理学を研究していました。<br>
                当時の私は繊細さんという概念は全く知りませんでしたし、彼女も自分が繊細さんだと知らなかったそうです。<br>
                しかしあるとき彼女は授業でHSPという概念を知り、その特徴が自分に当てはまっていることに気づきました。<br>
                そして私にもその概念を教えてくれ、「彼女がHSPだ」ということが妙に腑に落ちる感覚があったのです。<br><br>
                
                その後繊細さんについて調べれば調べるほど、繊細な彼女の心をとてもよく理解できました。<br>
                あまり自分自身には自身が持てないことが多くて、大きな音や強い光などが苦手なこと。<br>
                その反面、人の心を思いやることができて、慎重にミスなく処理することが得意だということ。<br>
                そういうことを知れば知るほど、彼女は生きにくさはあっても、素晴らしい力を持った人なんだということが分かりました。<br><br>
                しかしどれだけ理解できても、私にはどうしようもない辛さを抱えているという事実に、無力感を抱きました。<br>
                仕事終わりにどれだけの精神疲労を抱えていて、休日に外出するとすごく楽しそうにしていても家に帰るとそれが嘘のようにぐったりしている。<br>
                そんな時彼女は私にどうして欲しいのかがわからない。<br>
                お互いの気持ちがすれ違うことも多々ありました。<br><br>
                だからせめて彼女には休みの日くらいは自分のお気に入りの場所を見つけて、その場所で安らぎを感じてほしいです。<br>
                もっと言うなら「世の中全ての繊細さんに、もっと安らぎに満ちた日常を送ってほしい」とも思うようになりました。<br>
                そういう経緯で、冒頭に述べた思いをこのサイト上で形にしてみることにしました。<br><br>
                繊細な皆さんのお気に入りの場所がPaxをきっかけに見つかれば嬉しいです。<br>
                そして皆さんなりの感想を投稿してくれたら、他の繊細さんの助けになるかもしれません。<br>
                そういう素敵な循環が作れたら私は最高です！<br><br>
                素晴らしい力を持った繊細さんたちが１００％の力を発揮できるように、まずはしっかり休息を。<br>
                Paxを通してあなたの毎日が安らぎに溢れていくことを心から願っています。
            </p>
        </div>
    </div>
</div>