<% provide(:title, "HSPとは？") %>
    
<div class="about_hsp">
    <div class="first_section">
        <div class="sentence">
            <h1>周りの人の気持ちばかり気になって疲れてしまう<br>
                周囲の音・音・匂いに敏感<br>
                ちょっとしたことにもびっくりしてしまう
            </h1>
            <p>
                <br>毎日がこのような経験の連続だと言う方、いませんか？<br>
                平日は通勤電車の人混みに圧倒され、会社の人間関係には人一倍気を遣い、<br>
                なんとなく人より仕事が遅くて「自分はダメだなあ」なんて悩んでしまったり。。<br>
                休日は本当はやりたい事もたくさんあるはずなのに、自分の部屋で一日体力回復。。<br><br>
    
                そんなあなたはもしかしたら「繊細さん」かもしれません。<br>
                正式には ”Highly Sensitive Person (HSP) ”と言う特性を持つ方なのですが、<br>
                最近ではよく「繊細さん」という言葉を耳にするようになりました。<br>
                「世の中の約５人に１人は繊細さんである」と言われているくらい、実は身近にいる存在です。<br><br>
    
                繊細さんたちはその言葉の通り、私たちが日頃受ける「音、光、匂い、感情、痛み・・・」<br>
                といったあらゆる刺激に敏感に反応してしまう人たちです。<br>
                だけど間違えないで欲しいのは、「繊細さんは決して病気ではない」ということ。<br>
                なので人より少しだけ繊細なあなたは、決して自分を変えようとする必要はありません。<br>
                あなたは人より繊細な性格というだけで、素晴らしい存在なのです。
            </p>
        </div>
        <img src="/assets/4019748_m.jpg" alt="talk" class="first-img">
    </div>
</div>