<div class="main-visual">
      <div class="main-visual-top-img">
        <img src="#" alt="Pax-top" class="top-img">
      </div>
      <div class="main-visual-inner">
        <h1>何らかの文章<br>何らかの文章</h1>
        <p>何らかの文章</p>
      </div>
</div>