<% provide(:title, "Home") %>
<div class="main-visual">
      <div class="main-visual-top-img">
        <img src="#" alt="Pax-top" class="top-img">
      </div>
      <div class="main-visual-inner">
        <h1>何らかの文章<br>何らかの文章</h1>
        <p>何らかの文章</p>
      </div>
</div>

<!--サービス説明蘭-->
<section class="service-outline">
  <div class="services">
    <h2>Paxでできること</h2>
    <div class="service">
      <img src="#" alt="find" class="service-img">
      <h2>見つける</h2>
      <P>ここに「見つける」の説明を入れます</P>
    </div>
    <div class="service">
      <img src="#" alt="reservation" class="service-img">
      <h2>予約する</h2>
      <P>ここに「予約する」の説明を入れます</P>
    </div>
    <div class="service">
      <img src="#" alt="reputation" class="service-img">
      <h2>口コミをみる</h2>
      <P>ここに「口コミをみる」の説明を入れます</P>
    </div>
  </div>
</section>

<!--サービスラインナップ-->
<section class="facilities">
  <div class="facility">
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="restraunt"></a>
      <p>飲食店</p>
    </div>
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="park"></a>
      <p>公園</p>
    </div>
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="library"></a>
      <p>図書館</p>
    </div>
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="shrine/temple"></a>
      <p>神社・お寺</p>
    </div>
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="museum"></a>
      <p>美術館・博物館</p>
    </div>
  </div>
  <div class="facility">
    <div class="contents">
      <a class="btn btn-link" href="#"><img src="#" alt="others"></a>
      <p>その他</p>
    </div>
  </div>
</section>