<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home | Pax</title>
  </head>
  
  <body>
    <header>
      <div class="header-logo">Pax</div>
      <div class="header-list">
        <ul>
          <li>ログイン</li>
          <li>新規登録</li>
          <li>繊細さんって？</li>
        </ul>
      </div>
      <div class="clear"></div>
    </header>
    
    <div class="main-visual">
      <div class="main-visual-top-img">
        <img src="#" alt="Pax-top" class="top-img">
      </div>
      <div class="main-visual-inner">
        <h1>何らかの文章<br>何らかの文章</h1>
        <p>何らかの文章</p>
      </div>
    </div>
    
  </body>
</html>