<li id="my_facilities-<%= my_facility.id %>">
  <span class="facility"><%= link_to my_facility.facility.name, my_facility.facility %></span>
  <span class="facility_name"><%= my_facility.facility_name %></span>
  <span class="branch_name"><%= my_facility.branch_name %></span>
</li>