// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
    width: 100%;
    text-align: center;
    // padding-top: 70px;
}

.main-visual-top-img {
    background-image: image-url('4228050_m.jpg');
    height: 500px;
    background-position:center center;  
    background-size: cover;
    // width: 100%;
}

.main-visual-inner {
  font-size: 60px;
  position:absolute; 
  left: 0;
  right: 0;
  top: 300px;
  margin: auto;
  z-index: 2; 
  color: #F5F5F5;
  line-height: 50px;
  font-size: 30px;
  font-family: 'HiraKakuProN-W6';
  // position: absolute;
}

.service-outline {
    text-align: center;
    padding-top: 70px;
    flex-wrap: wrap;
    .service {
      width: 33.3%;
      float: left;
      padding-bottom: 30px;
      padding-top: 30px;
      // text-align: center;
      // background-color: black;
    }
}

.services h1 {
  padding-bottom: 30px;
}

.service-img {
  width: 100px;
}

.facility-img {
  width: 250px;
  padding-top: 20px;
}

.facilities {
    width: 100%;
    .facility {
      flex-wrap: wrap;
      // padding: 0px 100px;
      .rain {
        width: 26%;
        // float: left;
      }
    }
}

.rain {
    text-align: center;
    width: 300px;
    float: left;
    margin: 30px 50px;
    font-size: 20px;
    border: solid 1px #DDDDDD;
}

.btn-link {
  box-sizing: inherit;
}